



{% extends "tweet_app/base.html" %}  <!-- register.html mosteneste codul din base.html -->

{% load crispy_forms_tags %}

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--este pt ca form-ul sa fie protejat de anumite atacuri. pentru securitate mai buna  -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Inregistrare cont</legend>
				{{ form|crispy }} <!--{{ form.as_p }}this will render our form in paragraph tags, dar nu mai avem nevoie pt ca folosim crispy  -->
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Inregistrare</button> 
			</div>
		</form>

		<div class="border-top pt-3">
			<small class="text-muted">
				Aveti deja un cont? <a class="ml-2" href="{% url 'login' %}">Logati-va!</a>
			</small>
		</div>

	</div>
{% endblock content %}





