



{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>Bine ati venit pe Witchy Hubbb!</h3>
		    <br></br>
		    <p>Acest site este dedicat tuturor pasionatilor si amatorilor de vrajitorie si spiritualitate care doresc
		    sa apeleze la persoane de incredere pentru indrumare in viata, desfacere de blesteme si probleme de tot felul!</p>
			<p>Anunturile vor contine:</p>
			<p>- titlul va fi numele persoanei care presteaza servicii de magie, urmat de calificarea sa, care poate fi:
			</br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- vrajitoare </br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- clarvazatoare </br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- tamaduitoare </br>
			</p>
			<p>- in postare problemele pentru care sunteti calificata, ca de exemplu:
			</br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- desfacere blesteme </br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- probleme de sanatate </br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- probleme in dragoste  </br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- protectie </br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- readucerea iertarii si impacarii cu o persoana draga </br>


			<p>FARA MAGIE NEAGRA!!</p>
		    
        </div>
    </article>



{% endblock content %}





