
{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>CRISTALE</h3>
		    <br></br>
		    <h3>Semnificatia cristalelor</h3>
		    <p>Purtarea cristalelor și amplasarea lor în locul potrivit din casă sau birou au rol decorativ dar și protector </p>
				– apofilitul: amplifică intuiția </br>
				– turmalină verde: crește capacitatea mentală </br>
				– ochiul de tigru: abundență </br>
				– smithsonitul: vindecă </br>
				– rodonitul: atrage iubirea </br></br>
			<p>
			La intrarea în casă o clustră de cristale alăturate (minim 21) cu dimensiunea de 15-20 cm, un cristal de cuarț fumuriu sau o geodă de ametist purifică energia din încăpere.
			</p>

			Birou: cluster de fluorit, lepidolit – în spatele calculatorului </br>
			Colțul bogăției din casă ta (colțul din stânga cel mai îndepărtat de intrarea în casă) – geodă de citrin </br>
			Colțul relațiilor (cel mai îndepărtat colț din dreaptă casei față de ușă de la intrare sau sub pat) – cuarț roz și ametist </br>
			
			<p></br>
			Dureri musculare și de încheieturi – malahit </br>
			Dureri de cap – lapis lazuli</br>
			Dureri de stomac – citrin sau piatră Lunii</br>
			</p>

			<p></br>
			<h3>Chakre și cristale</h3>
			
			– amplifică și induc aspecte sau calități pozitive: curaj, încredere, bucurie, creativitate, calm</br>
			– diminuează aspectele și trăsăturile negative: teamă, stres, furie, negativitate, depresie</br>
			– elimină agresivitatea: furia, egoismul</br>
			– absorb energiile negative din spațiile în care locuim</br>
			– protejează de energii negative</br>
			</br></br>
			Cristalele aferente fiecărei chakre – se plasează deasupra sau în spatele corpului cristalul corespondent și se lasă acolo 15 min.</br>
			– chakra rădăcină (Muladhara) – jasp roșu: stabilitate, vitalitate, pasiune</br>
			– chakra sacrală (Swadisthana) – carneol: bucurie și sociabilitate</br>
			– chakra plexului solar (Manipura) – citrin: inteligență, ambiție, fericire</br>
			– chakra inimii (Anahata) – aventurin, cuarț roz: vindecare, dragoste, echilibru</br>
			– chakra gâtului (Visshuda) – cuarț albastru: prietenie, loialitate, comunicare</br>
			– chakra frunții sau al 3-lea ochi (Ajna) – ametist: meditație, intuiție</br>
			– chakra coroanei (Sahasrara) – cristal de stâncă: cunoaștere spirituală</br>

			</p>
		    
        </div>
    </article>



{% endblock content %}


