{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>TAROT</h3>
		    <br></br>
		    <h3>Crucea celtică</h3>
			
			„Crucea celtică” este cea mai cunoscută etalare tarot în epoca antică și modernă. Cele zece poziții ale crucii celtice oferă destulă informație pentru reprezentarea celor mai complicate întrebări legate de dragoste, carieră, familie, sănătate, și a fost modul standard de citire timp de sute de ani.
			</br></br>
			Cartea 1 - reprezintă baza, esența problemei, și chiar pe cel ce pune întrebarea.</br>
			Cartea 2 - cartea reprezintă influența imediată asupra celui ce întreabă, dar și obstacolele ce îl așteaptă. Poziția orizontală descrie „încrucișarea” și arată o alternativă a întrebării.</br>
			Cartea 3 - gânduri, planuri, ce gândește persoana referitor la întrebare.</br>
			Cartea 4 - sentimente, reprezintă emoțiile celui ce întreabă, dar și substratul subconștient al situației.</br>
			Cartea 5 - motivație, trecutul recent.</br>
			Cartea 6 - viitorul apropiat, arată evenimentele ce vor avea loc în viitorul apropiat.</br>
			Cartea 7 - semnifică atitudinea celui ce întreabă, îl semnifică.</br>
			Cartea 8 - mediul înconjurător, factorii de mediu ce influențează situația respectivă.</br>
			Cartea 9 - denotă fricile, speranțele, idealurile și dorințele celui ce întreabă.</br>
			Cartea 10 - arată rezoluția cea mai probabilă a situației, viitorul distant; considerată de unii cea mai importantă carte din etalare.

			<h3>Arborele vieții</h3>
			„Arborele vieții” este etalarea folosită când se dorește vizionarea trecutului, prezentului, viitorului, motivelor anumitor incidente, cauzelor și efectelor asupra ciclului karmei.
			</br></br>
			Cartea 1 - scopuri</br>
			Cartea 2 - influența</br>
			Cartea 3 - natura generală</br>
			Cartea 4 - cheia</br>
			Cartea 5 - influența (prezent)</br>
			Cartea 6 - influența (viitor)</br>
			Cartea 7 - efectul a semnificatorului</br>
			Cartea 8 - efectul a mediului înconjurător</br>
			Cartea 9 - speranțele și îngrijorări</br>
			Cartea 10 - rezultat, final

			<h3>Etalare astrologică</h3>
			„Etalarea astrologică” sau „etalarea zodiacală” oferă o imagine detaliată a prezentului, trecutului și a viitorului. Este bazată pe 12 cărți și fiecare reprezintă grupul sau simbolul specific astrologic. Cititorul alege intuitiv 12 cărți, care corespund simbolurilor zodiacale și a 13-a carte reprezintă întrebarea. Această etalare s-a renumit prin combinația sa astrologică.</br>
			</br></br>
			Cartea 1 - personalitatea</br>
			Cartea 2 - situația financiară</br>
			Cartea 3 - situația socială</br>
			Cartea 4 - bătrânețea, casa</br>
			Cartea 5 - copiii, creativitatea</br>
			Cartea 6 - sănătatea</br>
			Cartea 7 - mariajul, relațiile de dragoste</br>
			Cartea 8 - pierderi, moartea</br>
			Cartea 9 - călătorii, visuri</br>
			Cartea 10 - cariera</br>
			Cartea 11 - prietenii</br>
			Cartea 12 - karma</br>
			</br>
		    
        </div>
    </article>



{% endblock content %}


