



{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>MANIFESTARI</h3>
		    Următorul proces te va ajuta să ceri universului tot ce îți dorești cu dragoste, ușurință și încredere.
			</br></br>
			Manifestarea este un fel de schimb de energie. Ceea ce dai, aceea primești. 

			 
			Când întrebi cu îndoială sau te gândești că nu meriți lucruri bune, vei atrage înapoi dovezi ale acestor credințe. Acesta este motivul pentru care munca energetică este primul pas în procesul de manifestare.
		 	</br></br>

			Una dintre cele mai simple modalități de a trece de la o energie a lipsei la una de pozitivitate este să fii recunoscător pentru toate lucrurile pe care le ai în viața ta.

			 
			Convingerile care te blochează trebuie să dispară. Pur și simplu, trebuie. Le ai înrădăcinate încă din copilărie, chiar de la părinții sau bunicii tăi sau de la educatori și profesori. 
		 
			</br></br>
			Înainte de a putea manifesta ceea ce îți dorești, trebuie să dărâmi aceste blocaje care îți stau în cale. Acestea pot fi:</br>
		 
			- Dacă am mai mult, altcineva va avea mai puțin</br>
			- Nu merit lucruri bune</br>
			- Nu cred în Univers sau divinitate </br>
			 </br>

			Din păcate, am învățat că dacă avem mai multe lucruri, alții vor avea mai puține. Ne simțim vinovați pentru că cerem anumite lucruri atunci când știm că oamenii din lume suferă. Cu toate acestea, universul este nelimitat. Nu este un tort care trebuie împărțit. Depășește sentimentul de vinovăție!
			</br></br>
			 

			Mulți dintre noi am preluat și mesajul că nu merităm să ni se întâmple lucruri bune. S-ar putea să simțim că nu suntem demni de fericire și succes. În plus, este posibil să fi auzit oameni spunând că cei bogați sau de succes sunt lacomi sau răi. Începem apoi să ne echivalăm suferința cu a fi buni sau vrednici. Poate fi greu de crezut că suntem demni de dorințele noastre și că putem avea ceea ce ne dorim și totuși să fim oameni buni. Ești demn și capabil să primești lucruri bune în viața ta!

			 
			Universul răspunde pur și simplu la energia pe care o primește. Învățarea utilizării acestei energii poate ușura suferința lumii atunci când este utilizată corect. Așadar, nu te simți vinovat pentru că îți dorești mai mult.
    
        </div>
    </article>



{% endblock content %}


