{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>NUMEROLOGIE</h3>
		    </br>
		    Numerologia este orice credință în relația divină, mistică între un număr și unul sau mai multe evenimente care coincid. Este, de asemenea, studiul valorii numerice a literelor în cuvinte, nume și idei. Aceasta este adesea asociată cu paranormalul, alături de astrologie și alte arte prezicătoare similare.
		    <h3>CIFRA UNU</h3>
			1 constituie numărul Divinității: există un singur Dumnezeu
			<h3>CIFRA DOI</h3>
			2 reprezintă cuplul, perechea, feminitatea inocentă, fragilul, nevoia de protecție
			<h3>CIFRA TREI</h3>
			Sfânta Treime</br>
			Cei trei crai de la răsărit din creștinism</br>
			Cei trei sfinți friguroși</br>
			Cele trei ursitoare din mitologia greacă</br>
			Cele trei grații</br>
			Cele trei încercări ale voinicului din basmele populare
			<h3>CIFRA PATRU</h3>
			Cei patru evangheliști
			Anul are patru anotimpuri
			Cărțile de joc au patru culori
			Clasele elementare sunt patru la număr
			În prezent, fizicienii consideră că există patru stări de agregare ale materiei: starea solidă, starea lichidă, starea gazoasă, plasma.
			<h3>CIFRA CINCI</h3>
			Trupul uman are cinci extremități: un cap, două mâini, două picioare.</br>
			Fiecare mână și picior are câte cinci degete.</br>
			Cele cinci cărți ale lui Moise</br>
			Cele cinci elemente asociate din calendarul chinezesc (apa, focul, lemnul, metalul, pământul)</br>
			Pentatlonul este compus din 5 discipline sportive</br>
			Cinci colțuri au steaua comunistă și pentagrama</br>
			<h3>CIFRA SAPTE</h3>
			Cele 7 păcate de moarte (Avariția, Invidia, Mânia, Aroganța, Desfrâul, Beția, Lenea)</br>
			Cele 7 virtuți (Dragostea, Credința, Tăria sufletească, Speranța, Inteligența, Cumpătarea, Dreptatea)</br>
			Cele șapte coline ale Romei (Aventin, Caelius, Capitoliu, Palatin, Viminal, Quirinal, Esquilin)</br>
			Cei șapte regi legendari romani (Romulus, Abcus Martius, Numa Pompilius, Servius Tulius, Tullus Hostilius, Tarquinius Prisens, Tarquinius Superbus)</br>
			Cele șapte minuni ale lumii antice (Piramidele, Colosul din Rodos, Templul din Ephesos, Grădinile Semiramidei, Statuia lui Zeus din Olimpia, Farul din Pharos, Mormântul din Halikarnas)</br>
			Cei șapte înțelepți din vechime (Bias, Solon, Chilon, Thales, Pittakos, Kleobulos, Periander)</br>
			Cele șapte fiice ale lui Atlas (numite Pleiade)</br>
			O săptămână este compusă din șapte zile</br>
			Cele șapte note muzicale: do, re, mi, fa, sol, la, si</br>
			Cele șapte culori ale curcubeului: roșu, portocaliu, galben, verde, albastru, indigo, violet</br>
			Buburuza (gărgărița, lat. Coccinella septempunctata) are șapte puncte pe elitre</br>
			Constelațiile Carul Mare și Carul Mic sunt formate din câte șapte stele</br>
			<h3>CIFRA NOUA</h3>
			Fătul stă 9 luni în pântecele matern</br>
			Cele nouă muze (Urania, Calliope, Clio, Thalia, Erato, Euterpe, Polyhymnia, Melpomene, Terpsichore)</br>
			În sistemul solar sunt 9 planete (Mercur, Venus, Pământ, Marte, Jupiter, Saturn, Uranus, Neptun, Pluto)</br>
			Cele nouă porunci bisericești
			<h3>NUMARUL ZECE</h3>
			Cele zece porunci</br>
			10 reprezintă numărul degetelor de la două mâini</br>
			Baza sistemului zecimal și a sistemului internațional de măsuri</br>
			Numărul purtat de fotbaliști ca Pelé, Maradona sau Hagi</br>
			10 a fost numărul meșterilor care au ridicat Mănăstirea Argeșului (nouă meșteri mari / cu Manoli zece, care-i și întrece)</br>
			<h3>NUMARUL UNSPREZECE</h3>
			primul dintre numerele magice din numerologie
			<h3>NUMARUL DOISPREZECE</h3>
			Cei 12 apostoli ai lui Isus</br>
			Cele 12 triburi ale evreilor care au ieșit din Egipt</br>
			În Olimp locuiau 12 zei grecești de prim rang</br>
			Anul are 12 luni calendaristice.</br>
			Zodiacul european are 12 zodii</br>
			La chemarea lui Buddha s-au prezentat 12 animale și au fost trecute în ordinea sosirii în zodiacul chinezesc
			<h3>NUMARUL TREISPREZECE</h3>
			sfoara egipteană, folosită pentru construcția unui triunghi dreptunghic cu laturile 3-4-5, avea 13 noduri</br>
			13 state au semnat Declarația de independență a S.U.A.</br>
			<h3>NUMARUL DOUAZECI SI DOI</h3>
			al doilea dintre numerele magice din numerologie</br>
			alfabetul ebraic are 22 de litere</br>
			tarotul are 22 de arcane majore
			<h3>ALTE NUMERE IMPORTANTE:</h3>
			π=3,1415926... raportul dintre lumgimea circumferinței unui cerc și diametrul său</br>
			e=2,71828... baza logaritmului natural</br>
			φ=1,618... numărul de aur
		    
        </div>
    </article>



{% endblock content %}


