

{% extends "tweet_app/base.html" %}  <!-- post_detail.html mosteneste codul din base.html -->
									<!--  urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
									 <!-- snippet code ce incadreaza frumos fiecare postare -->
{% block content %}
    
    <article class="media content-section">
        <div class="media-body">
		    <div class="article-metadata">
		        <a class="mr-2" href="#">{{ object.author }}</a>
		      	<small class="text-muted">{{ object.date_posted|date:"F d,Y" }}</small>
		      	{% if object.author == user %}  <!-- daca autorul este userul logat curent -->
		      		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Actualizare</a>
		      		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Stergere</a>
		      	{% endif %}
		    </div>
		    <h2 class="article-title">{{ object.title }}</h2>
		    <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    
{% endblock content %}