






{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>POTIUNI</h3>

		    </br></br>
		    <h3>Uleiul diavolului</h3>
			În manualul de vrăjitorie al lui Scott se vorbește și despre „uleiul demonic', cel mai dificil de preparat, care, uns la miezul nopţii de 31 decembrie pe anumite porţiuni ale trupului, dă posibilitatea contactului cu alte lumi.
			</br></br>
			Uleiul este un amestec de esențe: de mandragoră, cactus şi un tip de ciuperci, care se fierbe în cea mai lungă noapte din an, de la apusul la răsăritul soarelui, şi se ia de pe foc înainte de prima geană de lumină. Apoi, este turnat într-un vas de sticlă neagră şi ținut la întuneric pentru a-i spori efectul, iar uns (cu anumite incantanții) pe frunte, în zona inimii, în zona genitală şi pe coloană, te poate duce într-o lume paralelă.
			</br></br>
			<h3>Unguentul pentru invizibilitate</h3>
			Există apoi reţete care de care mai ciudate cum ar fi unsoarea pentru premoniţie, din testicule de taur macerate vreme de 20 de zile cu flori de fasole grecească şi care aplicata pe pleoape avea puterea să dea răspuns unor întrebări despre viitor, dar nu trebuia să fie expusă niciodată la lumină.

			Sau unguentul pentru invizibilitate, compus dintr-un extract de urzică moartă amestecat cu ulei de nucă, ouă de păianjen cu cruce şi grăsime de porc şi strecurată prin pânză de giulgiu, și cu care vrăjitoarele din Evul Mediu se ungeau pe tot corpul înainte de a zbura în locuri neştiute de oameni.
			</br></br>
			Mai sunt şi reţetele magice pentru levitaţie aşa cum este cea a vestitului unguent de liliac, compus din esenţă de rândunică-dulce, cactus târâtor macerat în ulei, frunze de plop şi sânge de liliac mascul, matur. Amestecul obţinut se freacă energic pe piele astfel încât porii să devină „solubili şi liberi'.

			O altă prescripţie pentru levitaţie conţine aconit, esenţă de mac, ceară de albine, extract de degeţel, funingine de horn şi lapte de la un migdal sădit lângă cimitir.
			</br></br>
			<h3>Planta care sângerează</h3>
			Cea mai renumită plantă vrăjitorească este otrăvitoarea mandragoră, care se spune că varsă sânge și are capacităţi demonice fiindcă dă din cap în semn de răspuns la întrebările care îi sunt adresate. Ea creşte în locuri greu de găsit, este extrem de toxică, cu miros pătrunzător şi neplăcut și are un aspect straniu cu rădăcini foarte adânci şi solide în formă de trup omenesc, iar fructele sale devin fosforescente la răsăritul soarelui.

			Demonologii prescriu în cărţile de magie modul exact de a culege planta, căci mandragora se strânge în momentul în care te apropii de ea, iar atingerea ei devine mortală. Smulsă din rădăcină, ţipă şi sângerează, iar cel care îndrăzneşte asta moare în chinuri cumplite.
			</br></br>
			Seminţele de mandragoră şi chiar planta în sine pot fi culese doar dacă se sapă noaptea pământul în jurul ei în aşa fel încât unealta să nu atingă rădăcina. Dupa aceea planta se leagă de gâtul unui animal sălbatic care o va smulge din pământ si va muri iar vrăjitoarea înmoaie rădăcinile vreme de trei zile în vin rosu, le învelește în catifea sau mătase şi le hrănește 40 de zile cu prescură furată din biserică în timpul slujbei.

			Cu efecte vizibile sau nu, cu puteri stranii şi înspăimântătoare, uitate, teribile, misterioase, ori rămase doar simple amestecuri ciudate, elixirele magice au locul lor aparte în lumea misterioasă a vrăjitoarelor pe care, uneori încercăm s-o înţelegem, fără să ne-o putem explica niciodată cu adevărat.

		    
        </div>
    </article>



{% endblock content %}




