{% extends "tweet_app/base.html" %}  <!-- about.html mosteneste codul din base.html -->

{% block content %}    <!-- urmatoarea sectiune de cod va suprascrie sectiunea de block content a base.html -->
<!--	<h1>Blog about page!</h1>  -->
	<article class="media content-section">
        <div class="media-body">
		    <h3>RITUALURI</h3>
		    <br></br>
		    <h3>Lumanarea albastra</h3>
		    Pentru ritualuri de sănătate. Stimulează prin arderea lor circulația energetică, vă ajută să vă recuperați după o boală, blochează atacurile energetice și furtul de energie.

			În Feng Shui culoarea albastră simbolizează Apa, care înseamnă intuiție, deschidere, circulația sângelui stimulată, eliminarea apei în exces.

			De asemenea se utilizează pentru a cere protecție în domeniul legii sau al afacerilor în care sunt în joc foarte mulți bani.

			<h3>Lumanarea galbena</h3>
			Prin arderea ei activează norocul pe toate planurile, vă aduce lucruri neașteptate, pozitive, în viață dvs. precum și oameni care să va susțină proiectele.

			În Feng Shui culoarea galbenă simbolizează Pământul, perioada lui 8 și norocul infinit.

			De asemenea poate fi folosită pentru toate domeniile sau sectoarele profesionale și stimulează creativitatea.
			<h3>Lumanarea crem</h3>
			Pentru ritualuri de reușită în procese, examene, teste de orice fel, interviuri. Prin arderea lor activează norocul pe toate planurile, vă ajută să treceți cu bine peste orice fel de teste și examene.
			<h3>Lumanarea aurie</h3>
			Este ideală pentru cei care folosesc energia pozitivă și doresc influențe benefice în viața lor.Ajută la accesarea energiei cosmice, Qi-ul de noroc și protecție Reiki.
			<h3>Lumanarea purpurie</h3>
			Funcționează că un stimulator și este bine să o folosiți atunci când ați dori să știți mai multe despre o activitate sau acțiune.
			<h3>Lumanarea verde</h3>
			Este foarte utilă în ritualurile legate de bani este culoarea vieții și este recomandată pentru toate problemele legate de sănătate și bani. Prin ardere stimulează planul financiar, bogăția, fluxul de bani stagnant, cu rezultate maxime în lipsa sporului de bani.
			<h3>Lumanarea argintie</h3>
			Se utilizează în ritualurile de protecție deoarece îndepărtează energiile negative.
			<h3>Lumanarea roza</h3>
			Are o mare putere spirituală și se utilizează în problemele legate de inima, pasiune și dragoste.
			<h3>Lumanarea alba</h3>
			Pentru ritualuri de protecție. Stimulează prin arderea lor circulația energetică, vă ajută să vă protejați de dușmani și farmece. Se folosesc în combinație cu 9 lumânări negre pentru a accesa atât energia cosmică, cât și energia Pământului.

		    
        </div>
    </article>



{% endblock content %}


